* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100vh;
    position: relative;
    background: linear-gradient(135deg, #202020, #404040);
}

#box {
    position: absolute;
    background-color: white;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    border: 5px;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0px 10px 20px 5px #00000070;
}

body {
    overflow: hidden;
    background: black;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}